{
  "$schema": "../../node_modules/wrangler/config-schema.json",
  "name": "senshac",
  "pages_build_output_dir": "../../dist",
  "compatibility_date": "2026-05-25",
  "compatibility_flags": ["nodejs_compat"],
  "r2_buckets": [
    {
      "binding": "MEDIA_RAW",
      "bucket_name": "senshac-media-raw"
    }
  ]
}
