---
// src/components/Cursor.astro
---
<div 
  id="cursor-circle" 
  x-data="cursor" 
  @mousemove.window="onMouseMove" 
  @mouseenter.window="onMouseEnter" 
  @mouseleave.window="onMouseLeave"
></div>
