---
// src/components/sections/Banner.astro
import OptimizedImage from '../../OptimizedImage.astro';

interface Props {
  src: string;
  alt?: string;
}

const { src, alt = '' } = Astro.props;
---

<div class="w-full aspect-21/9 overflow-hidden">
  <OptimizedImage
    src={src}
    alt={alt}
    class="w-full h-full object-cover"
    loading="eager"
    sizes="100vw"
  />
</div>
